[% USE Dumper %]


[% FOREACH title IN titles %]
<table id="bt_titles">
    <thead>
        <th>Title</th>
        <th>Subtitle</th>
        <th>ISBN</th>
        <th>Author>/th>
        <th>Status</th>
    </thead>
    <tbody>
        <tr>title.title</tr>
        <tr>title.subtitle</tr>
        <tr>title.isbn</tr>
        <tr>title.author>/tr>
        <tr>title.status</tr>
    </tbody>
</table>
[% END %]
